@mixin relative {
  position: relative;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  min-height: 90px;
  position: relative;
  padding-bottom: 90px;
  box-sizing: border-box;
}

.main-contents {
  float: left;
  width: calc(100vw - 300px);
  
  
  .header-main {
    background: $white;
    height: 100px;

    @include relative;
    border-bottom: solid 1px $white;
  
    &__groupname {
      font-size: 20px;
      color: $black;
      padding-bottom: 15px;
      padding: 35px 0 15px 40px;
    }
  
    &__member {
      font-size: 12px;
      color: $lightgray;
      padding: 0 0 15px 40px;
    }
  }
}

.messages {
  
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px;
  overflow: scroll;
  

  &__user {
    font-size: 16px;
    font-weight: bold;
    color: $darkblack;
  }

  &__day {
    font-size: 12px;
    color:$lightgray;
   }

  // &__text {
  // font-size: 14px;
  // color: $darkblack;
  // padding: 10px 0 0 40px;

  // }

.main-message {
  left: 10px;
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
  } 

  .main-message__user {
    font-size: 16px;
    font-weight: bold;
    color: $darkblack;
  }

  .main-message__day {
    font-size: 12px;
    color:$lightgray;
    margin-left: 10px;
    
  }
}

.message {
  padding-bottom: 40px;
}
    

.edit-btn {
  height: 40px;
  margin: 0 20px;
  width: 60px;
  background-color: $white;
  position: absolute;
  top: 28px;
  right: 30px;
  border: solid 1px $skyblue;
  line-height: 40px;
  position: absolute;
  right: 40px;
  text-align: center;
  color: $skyblue;
}


.form {
  height: 90px;
  background-color: #ddd;
  padding: 20px  40px;
  // display: flex;

  &__box {
    display: flex;
    @include relative;

    

  &__image {
      padding: 0 50px ;
    
      }
  
  }
  // &__message-btn2 {
  //   background-color: $skyblue;
  //   height: 50px;
  //   width: 100px;
  //   color: $white;
   
  //   padding: 0 30px;
  //   margin-left: 15px;
  //   }
    
  

  &__submit {
    background-color: $skyblue;
    height: 50px;
    width: 100px;
    color: $white;
    padding: 0 30px;
    margin-left: 50px;
    cursor: pointer;
    position: absolute;
    right: 62px;
    bottom: 18px;
  }

  &__message {
  font-size: 16px;
  color: $darkblack;
  height: 50px;
  width: 85%;
  padding: 0 40px 0 10px;
  }

  // .form__box {
  // &__image {
  // padding: 0 50px ;
  // }
  // }



// .message-send {
//   font-size: 16px;
//   color: $darkblack;
//   height: 50px;
//   width: 100%;
//   padding: 0 780px 0 20px;
//   }

.icon {
 position: absolute;
 right: 20px;  
 top: 15px; 
 left: 50px;
 font-size: 1.25em;
 color: black;
 cursor: pointer;
 
}

.hidden {
  display: none;
  }

// .message-btn2 {
//   background-color: $skyblue;
//   height: 50px;
//   width: 100px;
//   color: $white;
//   padding: 0 30px;
//   margin-left: 15px;
//   }
}


.form__box__image {
  position: absolute;
  right: 170px;
  bottom: 53px;
  font-size: 1.25em;
}

 .lower-message__content {
   font-size: 14px;
   color: black;
   margin-bottom: 10px;
 }

 .upper-message {
   display: flex;
   margin-bottom: 10px;
 }

 